*,body{
    margin: 0px;
}
.tour{
    width: 800px;
    background-color: #EEE;
    margin: 10px auto;
    padding: 10px;
}
h1{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

span{
    font-size: 24px;
    font-weight: 700;
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 780px;
    margin: 10px;
}
p{
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}